.directory
.Rhistory
.Rproj.user
.Rprofile
R/packaging/acorn_sat_v2_daily_tmax
# R/packaging/acorn_data
R/packaging/acorn_sat_v*
R/shiny/myApp
R/.Rproj
*.DS_Store
/venv/
/renv/
/.quarto/
# can ignore _site because using the gh-pages branch method.
# see: https://quarto.org/docs/publishing/github-pages.html
/_site/