/*-- scss:defaults --*/

$primary: #48206c; // navbar colour
$code-color: #7d12ba; // inline code colour
$link-color: #be94ff;

/*-- scss:rules --*/

.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
  color: #c3c3c3 // increase dark mode breadcrumb text contrast
  }

details>summary {
  color: #adadad // increase dark mode summary label text contrast
}