on:
  workflow_dispatch:
  schedule:
    - cron: '19 19 * * 0-4'
  push:
    branches: master

name: Quarto Publish

env:
  IN_GITHUB_WORKFLOW: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install Python and Dependencies
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: pip install -r requirements.txt

      - name: Update package list
        run: sudo apt update && sudo apt upgrade

      # The following are possibly unnecessary, but were required on my WSL environment
      - name: Install ComplexHeatmap dependency
        run: sudo apt install libpng-dev

      - name: Install tidyverse dependencies
        run: sudo apt install libfontconfig1-dev libfreetype6-dev libxml2-dev

      - name: Install textshaping dependencies for tidyverse
        run: sudo apt install libharfbuzz-dev libfribidi-dev

      - name: Install ragg dependencies for tidyverse
        run: sudo apt install libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev

      - name: Install futher dependencies (see run \#1)
        run: sudo apt install libcurl4-openssl-dev libx11-dev pandoc

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5'

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 2

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
